.recomendations-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.recomendations-container::-webkit-scrollbar {
  display: none;
}

.recomendations {
  min-width: 51%;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
} 

.start-recipe-btn {
  bottom: 0;
}
